<div class="header">
  <app-file-uploader #fileUploader hidden [config]="fileUploaderConfig"></app-file-uploader>
  <div class="header__brand brand">Logo</div>
  <ul class="header__menu menu">
    <li class="menu__item">
      <a (click)="fileUploader.click()"><mat-icon>upload</mat-icon></a>
    </li>
    <li class="menu__item" [ngClass]="{ 'menu__item-disabled': true }">
      <a disab><mat-icon>download</mat-icon></a>
    </li>
    <li class="menu__item" [ngClass]="{ 'menu__item-disabled': true }">
      <a><mat-icon>delete</mat-icon></a>
    </li>
    <li class="menu__item ml-4">
      <a (click)="logOut()"><mat-icon>logout</mat-icon></a>
    </li>
  </ul>
</div>
