<div class="header">
  <app-file-uploader #fileUploader hidden [config]="fileUploaderConfig"></app-file-uploader>
  <div class="header__brand brand"><h2 class="m-0">Media Library</h2></div>
  <ul class="header__menu menu">
    <li class="menu__item">
      <a title="Upload photos" (click)="fileUploader.click()"><mat-icon [inline]="true">upload</mat-icon></a>
    </li>
    <li class="menu__item" [ngClass]="{ 'menu__item-disabled': (selectedMediaItems$ | async)?.length == 0 }">
      <a title="Download selected item"><mat-icon [inline]="true">download</mat-icon></a>
    </li>
    <li class="menu__item" [ngClass]="{ 'menu__item-disabled': (selectedMediaItems$ | async)?.length == 0 }">
      <a title="Delete"><mat-icon [inline]="true" (click)="onDeleteBtnClick()">delete</mat-icon></a>
    </li>
    <li class="menu__item ml-4">
      <a title="Log Out" (click)="onSignOutBtnClick()"><mat-icon [inline]="true">logout</mat-icon></a>
    </li>
  </ul>
</div>
