<!-- #region Add Photos Button -->
<button id="btn-add" mat-fab color="primary" (click)="onAddPhotoBtnClicked()">
  <mat-icon>add</mat-icon>
</button>
<!-- #endregion -->

<div class="h4 m-4">{{ title }}</div>

<div class="container w-100 h-100 d-flex justify-content-center align-items-center">
  <ng-container *ngIf="photos && photos.length; else noData"> Display Photos Here! </ng-container>
</div>
<ng-template #noData>
  <ir-file-uploader class="w-100" (uploadComplete)="onUploadComplete($event)"></ir-file-uploader>
</ng-template>
