<app-file-uploader #fileUploader hidden></app-file-uploader>
<div class="app-layout">
  <div class="app-layout__header header">
    <div class="header__brand brand">Logo</div>
    <div class="header__menu menu">
      <a class="menu__item" (click)="fileUploader.click()">Upload</a>
      <a class="menu__item">Log Out</a>
    </div>
  </div>

  <div class="app-layout__sidebar sidebar">
    <div class="sidebar__section section">
      <h3 class="section__title">Section Title</h3>
      <div class="section__nav nav">
        <a class="nav__item" routerLink="">
          <p class="nav__label">Photos</p>
        </a>
        <a class="nav__item" routerLink="albums">
          <p class="nav__label">Albums</p>
        </a>
      </div>
    </div>
  </div>

  <div class="app-layout__content">
    <router-outlet></router-outlet>
  </div>
</div>
