<div class="gallery">
  <ng-container *ngFor="let photo of photos">
    <div class="gallery-item">
      <div class="gallery-item__header">
        <button id="btn-remove" mat-mini-fab color="warn" (click)="onRemoveBtnClick(photo)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="gallery-item__content">
        <img *ngIf="photo.url | mediaType: 'image'" id="photo" [src]="photo.url" />
        <video id="photo" *ngIf="photo.url | mediaType: 'video'">
          <source [src]="photo.url" />
        </video>
      </div>
    </div>
  </ng-container>
</div>
