<!-- #region Create New Album Button -->
<button id="btn-add" mat-fab color="primary" (click)="onCreateAlbumBtnClicked()">
  <mat-icon>add</mat-icon>
</button>
<!-- #endregion -->

<!-- #region Album List -->
<ng-container *ngIf="albums.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-3" *ngFor="let album of albums">
        <photo-album-widget
          class="p-2"
          [data]="album"
          (delete)="onDeleteAlbumClicked($event)"
          (rename)="onRenameBtnClicked($event)"
          (select)="onAlbumSelected($event)"
        ></photo-album-widget>
      </div>
    </div>
  </div>

  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let album of albums" colspan="1" rowspan="1"> </mat-grid-tile>
  </mat-grid-list>
</ng-container>
<!-- #endregion -->
