<ng-container *ngIf="data && data.length > 0; else noDataTemplate">
  <mat-grid-list cols="8" rowHeight="4:3">
    <mat-grid-tile *ngFor="let item of data">
      <app-media-image
        *ngIf="item.url | mediaType: 'image'"
        class="w-100 h-100"
        [selected]="item.selected"
        [url]="item.url"
        (click)="onClick(item)"
      ></app-media-image>
      <app-media-video
        *ngIf="item.url | mediaType: 'video'"
        class="w-100 h-100 p-1"
        [selected]="item.selected"
        [url]="item.url"
      ></app-media-video>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>

<ng-template #noDataTemplate> There is no data! </ng-template>
