<div class="container-fluid bg-primary">
  <div class="btn" (click)="onCreateAlbumBtnClicked()">Create Album</div>
</div>
<ng-container *ngIf="$data | async as albums">
  <ng-container *ngIf="albums.length > 0">
    <mat-grid-list cols="5" rowHeight="1:1">
      <mat-grid-tile *ngFor="let album of albums" colspan="1" rowspan="1">
        <app-album
          class="w-100 h-100 p-2"
          [routerLink]="['/album', album.id]"
          [data]="album"
          (onDelete)="onDeleteAlbumClicked($event)"
          (onEdit)="onEditAlbumClicked($event)"
        ></app-album>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</ng-container>
